h2 {
  padding-left: 40px;
}

.item {
  min-height: 20rem;
  min-width: 7rem;
  padding: 40px;
}

.item img {
  height: 100%;
  width: 100%;
  border-radius: 2rem 4rem 2rem 4rem;
  -webkit-border-radius: 2rem 4rem 2rem 4rem;
  -moz-border-radius: 2rem 4rem 2rem 4rem;
  -ms-border-radius: 2rem 4rem 2rem 4rem;
  -o-border-radius: 2rem 4rem 2rem 4rem;
  pointer-events: none;
  background-size: cover;
  background-position: center;
}

.box-info {
  border-radius: 4rem 2rem 4rem 5rem;
  background: #fff;
  position: relative;
  width: 50px;
  height: 100px;
  top: -150px;
  overflow: hidden;
  -webkit-border-radius: 4rem 2rem 4rem 5rem;
  -moz-border-radius: 4rem 2rem 4rem 5rem;
  -ms-border-radius: 4rem 2rem 4rem 5rem;
  -o-border-radius: 4rem 2rem 4rem 5rem;
}

button {
  width: 40px;
  height: 40px;
  background: rgb(156, 250, 6);
  padding: 5px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}



.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}